<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fontawesome/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Fun Games</title>
</head>

<body>

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fun Games</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Scramble<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Memory Game</a>
                    </li>
            </div>
        </div>

    </nav> -->
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-center">Guess the Word!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center text-2">
                <div class="row" v-show="gameOn != 1">
                    <div class="col-12">
                        <input type="text"
                            class="form-control text-uppercase font-weight-bold text-monospace text-inherit text-center border border-primary"
                            ref="txtName" placeholder="Enter your Name" v-model="playerName" v-focus v-on:keyup.enter="startGame" v-on:blur="startGame"
                            >
                    </div>
                    <!-- <div class="col-2 col-lg-1">
                        <button class="btn btn-primary" v-on:click="startGame" :disabled="gameOn == 1">Go!</button>
                    </div> -->
                </div>
                <div class="row" v-show="gameOn == 1">
                    <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
                        <button class="btn btn-warning" v-on:click="getNextWord" :disabled="status == 1">Skip Word</button>
                        <button class="btn btn-info" v-on:click="resetGame" :disabled="status == 1">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <img v-bind:src="'assets/scramble/images/' + imagePrefix + '1.jpg'" class="image-box" />
                <img v-bind:src="'assets/scramble/images/' + imagePrefix + '2.jpg'" class="image-box" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <img v-bind:src="'assets/scramble/images/' + imagePrefix + '3.jpg'" class="image-box" />
                <img v-bind:src="'assets/scramble/images/' + imagePrefix + '4.jpg'" class="image-box" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <h3 class="text-uppercase font-weight-bold text-monospace">{{ shuffled }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4 offset-sm-3 offset-lg-4 text-center text-2">
                <div class="row">
                    <div class="col-10 col-md-11">
                        <input type="text"
                            class="form-control text-uppercase font-weight-bold text-monospace text-inherit text-center border border-primary"
                            ref="txtAnswer" placeholder="" v-model="answer" v-on:input="answer = $event.target.value; checkAnswer()" v-on:blur="checkAnswer()"
                            :disabled="gameOn == 0 || hold == 1">
                    </div>
                    <div class="col-2 col-md-1">
                        <span class="badge badge-primary" v-if="status == 2"><i
                                class="fas fa-spinner fa-spin"></i></span>
                        <span class="badge badge-danger" v-if="status == 0"><i class="fas fa-times-circle"></i></span>
                        <span class="badge badge-success" v-if="status == 1"><i class="fas fa-check-circle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-sm btn-primary ">Check!</button>
            </div>
        </div> -->
        <br />
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3 text-center">
                <div id="clock">
                    <span class="time">{{ time }}</span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
                <h3>Highest Scores</h3>
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="col-2">#</th>
                            <th scope="col" class="col-5">Name</th>
                            <th scope="col" class="col-5">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='(score, index) in highestScores'>
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ score.playerName.toUpperCase() }}</td>
                            <td>{{ score.playerScore }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Toasts-->
        <!-- <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;"> -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500"
            style="position: absolute; top: 35vh; right: 41vw;">
            <div class="toast-header bg-success text-white text-2 text-center">
                <strong class="mr-auto">
                    <span v-if="gameOver == 0">Congratulations!!</span>
                    <span v-if="gameOver == 1">Game Over!!</span>
                </strong>
                <small></small>
            </div>
            <div class="toast-body font-weight-bold text-2 text-center bg-white">
                <span v-if="gameOver == 0">You guessed it correct!</span>
                <span v-if="gameOver == 1">Congratulations!! Your score is: {{ Math.floor(playerScore) }}</span>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="lib/jquery.slim.min.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="index.js"></script>
</body>

</html>